<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- navbar -->
        {{>navbar}}
        <!-- body -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-12 main_body mx-auto">
                        <div class="row">
                           <!-- right ka left-->
                           <div class="col-md-6 col-12 main_body_right align-items-center">
                            <figure>
                              <img src="./images/techrm.png" alt="image" class="img-fluid" title="k">
                            </figure>
                              </div> 
                             <!--left ka right -->
                              <div class="col-md-6 col-12  main_body_left ml-auto">
                                <p>Welcome to Technical World</p>
                                <h1>Want to be <span class="span_tag">Full Stack</span> Developer</h1>
                                <a href="/"><button>Go Back</button></a>
                              </div>
                            
                        </div>
                    </div>
                </div>
            </div>
             
            <!-- footer -->
            {{>footer}}
</body>
</html>